
/* Base rule */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    /* Enable scroll snapping on the parent container */
    /* scroll-snap-type: y proximity; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

p,
li,
a,
label {
    font-family: "Urbanist", sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color: var(--para-color);
    line-height: 1.5;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


label {
    display: block;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

input,
textarea {
    width: 100%;
    padding: 1.5rem 1rem;
    color: black;
    font-weight: 400;
    letter-spacing: 0.1rem;
    outline: none;
    border: 0.2rem solid rgba(128, 128, 128, 0.3);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

    &:focus-visible {
        border: .2rem solid var(--main-color);
    }

    &::placeholder {
        text-transform: capitalize;
        font-weight: 400;
    }
}

textarea {
    max-height: 23rem;
    resize: none;
    margin-bottom: 6rem;
}



/* Theme */

:root {
    --main-color: #0062ff;
    --supporting-color: #ebf3fe;
    --font-color: #424242;
    --bg-color: #f7fcff;
    --heading-color: #000a19;
    --para-color: #504e4d;
    --hero-heading-color: #003b99;
    --transition: all 300ms linear;
    --btn-hover-bg-color: #003b99;
    --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --footer-bg-color: #040d12;
    --white-color: #ffffff;
}


/* Layout */

/* header,
main,
section,
footer {
    scroll-snap-align: center;
} */

.container {
    max-width: 142rem;
    /* 1420px */
    margin: 0 auto;
    padding: 9.6rem 2.4rem;
}

.grid {
    display: grid;
}

.grid-two--cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid-four--cols {
    grid-template-columns: repeat(4, 1fr);

}

.mb-3 {
    margin-bottom: 3rem;
}

:is(.section-about,
    .section-blog,
    .section-course,
    .section-contact--homepage,
    .section-why--choose,
    .section-contact) .container:first-child {
    padding: 6.4rem 2.4rem 2.4rem 2.4rem;
}

/* module / reusable */


.btn {
    padding: 1.2rem 3.2rem;
    background-color: var(--main-color);
    display: inline-block;
    color: var(--white-color);
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}

.btn:hover {
    background-color: var(--btn-hover-bg-color);
    cursor: pointer;
    box-shadow: var(--btn-box-shadow);
}

.btn-submit {
    font-size: 1.8rem;
    border: none;
    text-transform: capitalize;
}

.section-common--heading {
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: capitalize;

}

.section-common--subheading {
    color: var(--heading-color);
}

.section-common--title {
    font-size: 2rem;
    margin: 2.4rem 0 1.2rem 0;
}

.fa-solid {
    padding: 2.4rem;
    background-color: var(--supporting-color);
    font-size: 2.4rem;
    color: var(--hero-heading-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/* states */


/***** navbar Section *****/

.section-navbar {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.section-navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1rem 2.4rem;

    & .navbar-brand {
        display: flex;
        justify-content: center;


        & a img {
            width: 80%;
            height: auto;
        }
    }
}

.section-navbar .navbar ul {
    display: flex;
    gap: 3.2rem;

    & li a {
        color: var(--heading-color);
        text-transform: uppercase;
        font-weight: 600;
        display: inline-block;
        font-size: 1.6rem;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -0.3rem;
            left: 0;
            width: 0%;
            border-bottom: 0.2rem solid var(--main-color);
        }


    }

    & li a:hover::after {
        width: 100%;
        transition: var(--transition);
        -webkit-transition: var(--transition);
        -moz-transition: var(--transition);
        -ms-transition: var(--transition);
        -o-transition: var(--transition);
    }
}

/***** End navbar Section *****/

/***** hero Section *****/

main {
    position: relative;
    background-image: linear-gradient(to top right,
            #3d86fa,
            #4484fb,
            #679eff,
            #b3d2ff,
            #ebf3fe);
}

.section-hero--image {
    width: 100%;
    height: auto;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);

    & figure>img {
        width: 77rem;
        height: auto;
    }
}

.section-hero .grid {
    align-items: center;
    gap: 6.4rem;

    & .hero-subheading {
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 1.7rem;
        word-spacing: 0.2rem;
        color: var(--btn-hover-bg-color);
        font-weight: 700;
    }

    & .hero-heading {
        font-size: 5rem;
        line-height: 1.1;
        font-weight: 900;
        font-family: "Jost", sans-serif;
        color: var(--hero-heading-color);
    }

    & .hero-para {
        color: var(--var(--white-color)-color);
        margin: 2rem 0 4.2rem 0;
    }
}


/* Shape divider */
.custom-shape-divider-bottom-1749563415 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    rotate: 180deg;
}

.custom-shape-divider-bottom-1749563415 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 12rem;
}

.custom-shape-divider-bottom-1749563415 .shape-fill {
    fill: #FFFFFF;
}

/***** End hero Section *****/


/*****  about Section *****/

.section-course {
    background-color: var(--bg-color);
}

.section-about .about-div {
    text-align: center;
    padding: 2.4rem;
}

.section-about img {
    padding: 2.4rem;
    background-color: var(--supporting-color);
    width: 15rem;
    height: auto;
    transform: rotate(0deg);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}


.about-div .icon:hover img {
    background-image: linear-gradient(to right, #0575e6, #021b79);
    rotate: 360deg;
}

/***** End  about Section *****/

/***** course Section *****/

.section-course .course-div {
    padding: 3.4rem;
}

.section-course .course-div:hover {
    box-shadow: var(--btn-box-shadow);
}

.course-div:nth-child(2) .icon .fa-solid {
    color: #68bf9b;
    background-color: #e7f6ef;
}

.course-div:nth-child(3) .icon .fa-solid {
    color: #ff8b52;
    background-color: #fbebe8;
}

.course-div:nth-child(4) .icon .fa-solid {
    color: #183d3d;
    background-color: #ccf7c7;
}

.course-div:nth-child(5) .icon .fa-solid {
    color: #d988b9;
    background-color: rgb(247, 223, 238);
}

.course-div:nth-child(6) .icon .fa-solid {
    color: #ff9b50;
    background-color: #f6dfce;
}

.course-div:nth-child(7) .icon .fa-solid {
    color: #1450a3;
    background-color: #dce9fa;
}




/***** End course Section *****/


/***** why choose Section *****/

.section-why--choose .grid {
    gap: 9.6rem;
    align-items: center;
}

.common-text--highlight {
    width: 6rem;
    aspect-ratio: 1;
    background-color: var(--supporting-color);
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 700;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.section-why--choose .text-align--right .why-choose--div {
    display: flex;
    justify-content: start;
    align-items: end;
    flex-direction: column;
    text-align: right;
    margin-top: 2rem;
}

.choose-center--div img {
    width: 90%;
    height: auto;
}

.choose-center--div figure {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.choose-center--div figure::before,
.choose-center--div figure::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: var(--main-color);
    width: 45rem;
    height: 45rem;
    z-index: -1;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.choose-center--div figure::before {
    animation: circle 3s linear;
    -webkit-animation: circle 3s linear infinite;
}

@keyframes circle {
    0% {
        background-color: #b3d0ff;
    }

    25% {
        background-color: #80b1ff;
    }

    50% {
        background-color: #4d91ff;
    }

    75% {
        background-color: #99c0ff;
    }

    100% {
        background-color: #3381ff;
    }
}

.choose-center--div figure::after {
    width: 50rem;
    width: 50rem;
    /* border: .5rem solid var(--supporting-color); */
    background-color: transparent;
    z-index: -2;
}

.section-why--choose .text-align--left .why-choose--div {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    text-align: left;
    margin-top: 2rem;
}

/***** End why choose Section *****/


/***** Section blog *****/

.section-blog {
    background-color: var(--bg-color);

    & .grid {
        gap: 6.4rem;
    }

    & .blog {
        box-shadow: var(--btn-box-shadow);
        transition: var(--transition);
        -webkit-transition: var(--transition);
        -moz-transition: var(--transition);
        -ms-transition: var(--transition);
        -o-transition: var(--transition);

        &:hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
        }

        & .blog-content {
            padding: 1.4rem 2.4rem 2.4rem;
        }
    }

    & img {
        width: 100%;
        height: auto;
    }

    & .blog-date {
        display: flex;
        justify-content: space-between;
        font-size: 1.4rem;
        margin-top: 1.6rem;

        & .fa-solid {
            background-color: transparent;
            padding: 0;
        }
    }

    & .section-common--title {
        margin-top: 0.8rem;
    }
}

/***** End Section blog *****/


/***** Section contact *****/

.section-contact .grid {
    gap: 8rem;
}

.section-contact .contact-form .grid {
    gap: 2.4rem;
    align-items: center;
}


/***** End Section contact *****/



/***** contact home Section *****/

.section-contact--homepage {
    position: relative;
    bottom: -15rem;
    background-color: var(--bg-color);
    width: 60%;
    min-height: 30rem;
    padding: 3.2rem;
    margin: 0 auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-bottom: 5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.section-contact--homepage .grid {
    align-items: center;
}

.section-contact--homepage a {
    color: var(--white-color);
}

.section-contact--homepage .fa-solid {
    padding: 0;
    color: var(--white-color);
    background-color: var(--main-color);
}

.section-contact--homepage img {
    width: 90%;
    height: auto;
}

.contact-title {
    font-size: 3.8rem;
    line-height: 1.2;
}

.contact-content p {
    margin: 1.2rem 0 2.4rem 0;
}



/***** End contact home Section *****/


/***** footer Section *****/

footer {
    padding-top: 15rem;
    background-color: var(--footer-bg-color);
}

footer * {
    color: var(--white-color);
}

footer .grid {
    text-align: right;
}

.footer-subheading {
    font-size: 2.2rem;
    font-weight: 700;
}

.footer-1--div p {
    margin: 1rem 0 3.2rem 0;
}

.footer-1--div {
    text-align: left;

    & .social-footer--icons {
        display: flex;
        column-gap: 2.4rem;


        & .fa-brands {
            display: grid;
            place-items: center;
            color: #0062ff;
            width: 5rem;
            aspect-ratio: 1;
            background-color: var(--supporting-color);
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            transition: var(--transition);
            -webkit-transition: var(--transition);
            -moz-transition: var(--transition);
            -ms-transition: var(--transition);
            -o-transition: var(--transition);

            &:hover {
                color: var(--supporting-color);
                background-color: var(--btn-hover-bg-color);
                rotate: 360deg;
            }
        }
    }

}

/***** End footer Section *****/


/***** srollbar style Section *****/

/* Width */
::-webkit-scrollbar {
    width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--supporting-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

/* Handle on hover  */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--btn-hover-bg-color);
}

/***** End srollbar style Section *****/


/***** media queries Section *****/

@media (width<=1400px) {
    html {
        font-size: 56.25%;
        /* 1rem =  9px */
    }

    .section-hero img {
        width: 80%;
    }
}

@media (width<=1200px) {
    html {
        font-size: 54%;
    }

    :is(.section-about,
        .section-blog,
        .section-course,
        .section-contact--homepage,
        .section-why--choose) .grid {
        gap: 6.4rem;
    }
}

@media (width<=1100px) {
    :is(.section-course, .section-blog) .grid-four--cols {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .section-why--choose {


        & .choose-left--div {
            order: 2;
        }


        & .choose-right--div {
            order: 2;
        }


        & .choose-center--div {
            order: 1;


            & figure::before {
                width: 0;
                height: 0;
                background-color: transparent;
                padding: 0;
            }

            & figure::after {
                width: 0;
                height: 0;
                padding: 0;
            }
        }
    }

    .section-contact .grid-two--cols {
        grid-template-columns: repeat(1, 1fr);


        & .contact-form,
        .contact-map iframe {
            min-width: 42rem;
            max-width: 50vw;
        }
    }
}

@media (width<=998px) {

    .section-hero {
        height: auto;
        padding-bottom: 10rem;

        & .grid {
            justify-content: center;
            align-items: center;
        }

        & .grid-two--cols {
            grid-template-columns: repeat(1, 1fr);


            & .section-hero--content {
                order: 2;
            }

            & .section-hero--image {
                order: 1;

                & figure {
                    text-align: center;

                    & img {
                        width: 60%;
                    }
                }
            }
        }
    }

    .section-about .about-div {
        text-align: left;
    }

    .section-contact--homepage .grid-two--cols {
        grid-template-columns: repeat(1, 1fr);


        & .contact-title {
            font-size: 3rem;
        }

        & p {
            font-size: 1.7rem;
        }
    }

    footer .grid-four--cols {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        text-align: left;


        & .footer-1--div {
            grid-row: 2/3;
            grid-column: 1/-1;
            margin-top: 6.4rem;
        }
    }


}


@media (width <=768px) {
    /* html {
        width: 100%;
    }

    .container {
        max-width: auto;
        margin: auto;
    } */

    .grid-two--cols,
    .grid-three--cols {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .section-why--choose .grid-three--cols {
        grid-template-columns: repeat(2, 1fr);

        & .choose-center--div {
            grid-row: 2/3;
            grid-column: 1/-1;

            & figure img {
                width: 50%;
                height: auto;
            }
        }
    }

    .section-navbar .container {
        flex-direction: column;

        & .navbar-brand {
            margin-bottom: 2rem;
        }
    }
}

@media (width <=576px) {
    html {
        font-size: 50%;
    }

    .section-why--choose .grid-three--cols {
        grid-template-columns: repeat(1, 1fr);


        & .text-align--right .why-choose--div {
            align-items: start;
            text-align: left;
        }
    }

}

/***** End media queries Section *****/